<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Display Users</title>
    </head>
    <body>
        <h2>List of Users</h2>
        <table class="view">
            <thead>
                <tr><th class="hcell">Name</th><th class="hcell">User Name</th><th class="hcell">Email Address</th></tr>
            </thead>
            <tbody>    
        <% userList.forEach(function (user) { %>
            <tr><td class="dcell"><%=user.firstName%> <%=user.lastName%></td><td class="dcell"><%=user.userName%></td><td class="dcell"><%=user.email%></td></tr>
        <%})%>
            </tbody>
        </table>
        <h4>There are a total of <%=Object.keys(userList).length%> users.</h4>
        <form action="/logout" method="get">
            <input class="button" type="submit" id="logout" name="logout" value="Logout" />
        </form>
    </body>
</html>